# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Work\High_Perfomance_Multiphysics_Simulation_CEM\ML-CEM\DNN\Conv_LSTM_FDTD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
